@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background: linear-gradient(45deg, #223843, #e8eddf, #223843, #D3D3D3);
  background-size: 400% 400%;
  animation: fundo 40s ease infinite;
}

body h2 {
  color: white;
}

main {
  background-color: #223843;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 30px 30px 5px #00000088
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:15px 7%;
  border-bottom: .10px solid #F2E205;
  position: fixed;
  top:0; left: 0; right: 0;
  z-index: 1000;
}

.header .logo img{
  height: 50px;
}

.header .navbar a{
  margin:0 10px;
  font-size: 16px;
  color: #F2E205;
}

.header .navbar a:hover{
  color: #8b8b8b;
  border-bottom: .10px solid #F2E205;
  padding-bottom: .50px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.spanQtd {
  text-align: end;
}

.respostas {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  width: 100%;
  text-align: center;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e8eddf;
  color: black;
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.finish button {
  text-align: center;
}

.header .logo1 img{
  height: 110px;
}

span {
  color: white;
}

h2 .spanV {
  color: #F2E205;
  
}

@keyframes fundo {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}